@model BARG.ViewModels.AssessmentsViewModel
@{
    ViewBag.Title = "Home Page";
}


<h2>Test</h2>
@using (Html.BeginForm("Save", "Assessments"))
{
    @Html.AntiForgeryToken()


    <table id="tblRegion" class="table" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="width:250px">Region</th>
                <th style="width:250px">Share of Region</th>
                <td><input type="button" id="btnAdd" value="Add" /></td>

                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    @Html.DropDownListFor(m => m.RegionId, new SelectList(Model.Regions, "Id", "Name"), new { @class = "form-control" })
                </td>
            </tr>

        <tfoot>
            <tr></tr>
            <tr></tr>
        </tfoot>
    </table>
    @Html.HiddenFor(m => m.Id)
    <button data-assess-id="@User.Identity" type="submit" calss="btn btn-default js-save">Save</button>
}
@section scripts
    {
    <script>

       $(document).ready(function () {
            $(".js-save").click(function (e) {
                var button = $(e.taget);
                $.post("/home/assessments", { "": button.attr("data-assess-id") })

                    .fail(function () {
                        alert("Something went wrong");
                    });

                  $.done(function (data) {
                    if (data.cartCount === 0) {
                        alert('There are no items in cart to checkout');
                    }
                    else {
                        window.location.replace('/Home/Index');
                    }
            });
    });

    </script>
}